
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title{
    color: #181818;
    font-family: open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height:normal;
}

.btn-primary{
    color: aliceblue;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700px;
    border: 0;

}

nav > ul{
    display: flex;
    align-items: center;
    margin: 0 200px;

}
nav li {
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color:#474747 ;

}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width:500px;
    height: 500px;
}